<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email-Form</title>
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <div class="con2">
      <a href="/">
        <h4 class="admin">Logout</h4>
      </a>
    </div>

    <div class="container">
      <div class="cont">
        <h2>Dashboard</h2>
        <h4 style="color: rgba(0, 0, 0, 0.61);">Emails: {count} </h5>
        <h3></h3>
      </div>
    </div>
  </body>
</html>
