<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email-Form</title>
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <div class="title">DevX</div>
    <div class="con2">
      <a href="/admin"><h4 class="admin">Admin</h4></a>
    </div>
    <div class="container">
      <div class="cont">
        <h2>Email Form</h2>
        <form action="/submit" method="POST">
          <input
            placeholder="Enter your e-mail..."
            class="em"
            name="email"
            type="email"
          />
          <div class="but"><button type="submit">Submit</button></div>
        </form>
      </div>
    </div>
  </body>
</html>
