<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email-Form</title>
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <div style="visibility: hidden;" class="con2">
      <h4 class="admin">Admin</h4>
    </div>
    <div class="container">
      <div class="cont">
        <h2>ADMIN</h2>
        <form action="/validate" method="post">
          <input
            placeholder="Enter Your Secret Key..."
            class="em"
            name="key"
            type="password"
          />
          <div class="but"><button type="submit">VALIDATE</button></div>
        </form>
      </div>
    </div>
  </body>
</html>
